<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>tin tuc</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="massagebaby/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="massagebaby/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="massagebaby/css/reset.css">
	<link rel="stylesheet" type="text/css" href="massagebaby/css/index.css">
	<link rel="stylesheet" type="text/css" href="massagebaby/css/tin-tuc.css">
	<link rel="stylesheet" type="text/css" href="massagebaby/css/chi-tiet.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="header">
				<a class="logo" href="#" title="">
					<img alt="" title="" class="img-responsive" src="massagebaby/img/logo.png" />
				</a>
			</div>
		</div>
	</header>
	<nav class="menu text-center">
		<div class="container">
			<ul >
				<li><a href="#">MASSAGEBAY</a></li>
				<li><a href="#">DIỄN ĐÀN</a>
					<ul >
						<li><a href="#">DIỄN ĐÀN</a></li>
						<li><a href="#">DIỄN ĐÀN</a></li>
						<li><a href="#">DIỄN ĐÀN</a></li>
					</ul>
				</li>
				<li><a href="#">TIN TỨC</a></li>
				<li><a href="#">COUNPON</a></li>
				<li><a href="#">LIÊN HỆ</a></li>
			</ul>

		</div>
	</nav>

	<nav class="main-nav">
						<button class="menu-btn" type="button"><i></i></button>
						<ul style="display: none;">                
							<li><a class="smooth" href="#" title="">Massagebay</a></li>
							<li><a class="smooth" href="#" title="">DIỄN ĐÀN</a>
								<ul style="display: none;">
									<li><a class="smooth" href="#" title="">DIỄN ĐÀN</a></li>
									<li><a class="smooth" href="#" title="">DIỄN ĐÀN</a>
									</li>
									<li><a class="smooth" href="#" title="">DIỄN ĐÀN</a></li>
								</ul></li>
							<li><a class="smooth" href="#" title="">Tin tức</a></li>
							<li><a class="smooth" href="#" title="">Coupon</a></li>
							<li><a class="smooth" href="#" title="">Liên hệ</a></li>
						</ul>
					</nav>
	<div class="s-body container">
		<div class="row">
			<div class="col-sm-12 col-md-9 col-lg-9">
				<nav class="s-bre" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tin tức</li>
					</ol>
				</nav>
				<div class="s-post">
					<img src="massagebaby/img/tin-bai.png">
					<div class="layout">
						<a href="">NỔI BẬT TRÊN KHÔNG GIAN LÀNG QUÊ YÊN TĨNH, TRÀNG AN LUXURY</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="t-nhanh">
					<h2>Tin tức mới nhất</h2>
					<div class="row">
						<div class="col-sm-12">
									<div class="tt-nhanh">
										<a href="">
										<img class="img-tt" src="massagebaby/img/img8.jpg"></a>
										<div class="tt-info">
										<a href="">TRÀNG AN LUXURY</a>
										<span>Bình Dương</span>
										<div class="star star-rating">
											<div class="star-base">
												<div class="star-rate" style="width:90%"></div>
												<a dt-value="1" href="#1"></a>
												<a dt-value="2" href="#2"></a>
												<a dt-value="3" href="#3"></a>
												<a dt-value="4" href="#4"></a>
												<a dt-value="5" href="#5"></a>
											</div>
										</div>
										<p>Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY là một trong những khách sạn mới nhất của Nổi bật trên không gian làng quê yên tĩnh, </p>
										<div class="s-info"><i class="fa fa-clock-o"></i>
											"00:08 | 26/08/2017"</div>
											</div>
										</div>
									</div>
							<div class="col-sm-12">
									<div class="tt-nhanh">
										<a href="">
										<img class="img-tt" src="massagebaby/img/img8.jpg"></a>
										<div class="tt-info">
										<a href="">TRÀNG AN LUXURY</a>
										<span>Bình Dương</span>
										<div class="star star-rating">
											<div class="star-base">
												<div class="star-rate" style="width:90%"></div>
												<a dt-value="1" href="#1"></a>
												<a dt-value="2" href="#2"></a>
												<a dt-value="3" href="#3"></a>
												<a dt-value="4" href="#4"></a>
												<a dt-value="5" href="#5"></a>
											</div>
										</div>
										<p>Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY là một trong những khách sạn mới nhất của Nổi bật trên không gian làng quê yên tĩnh, </p>
										<div class="s-info"><i class="fa fa-clock-o"></i>
											"00:08 | 26/08/2017"</div>
											</div>
										</div>
									</div>
								<div class="col-sm-12">
									<div class="tt-nhanh">
										<a href="">
										<img class="img-tt" src="massagebaby/img/img8.jpg"></a>
										<div class="tt-info">
										<a href="">TRÀNG AN LUXURY</a>
										<span>Bình Dương</span>
										<div class="star star-rating">
											<div class="star-base">
												<div class="star-rate" style="width:90%"></div>
												<a dt-value="1" href="#1"></a>
												<a dt-value="2" href="#2"></a>
												<a dt-value="3" href="#3"></a>
												<a dt-value="4" href="#4"></a>
												<a dt-value="5" href="#5"></a>
											</div>
										</div>
										<p>Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY là một trong những khách sạn mới nhất của Nổi bật trên không gian làng quê yên tĩnh, </p>
										<div class="s-info"><i class="fa fa-clock-o"></i>
											"00:08 | 26/08/2017"</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
									<div class="tt-nhanh">
										<a href="">
										<img class="img-tt" src="massagebaby/img/img8.jpg"></a>
										<div class="tt-info">
										<a href="">TRÀNG AN LUXURY</a>
										<span>Bình Dương</span>
										<div class="star star-rating">
											<div class="star-base">
												<div class="star-rate" style="width:90%"></div>
												<a dt-value="1" href="#1"></a>
												<a dt-value="2" href="#2"></a>
												<a dt-value="3" href="#3"></a>
												<a dt-value="4" href="#4"></a>
												<a dt-value="5" href="#5"></a>
											</div>
										</div>
										<p>Nổi bật trên không gian làng quê yên tĩnh, TRÀNG AN LUXURY là một trong những khách sạn mới nhất của Nổi bật trên không gian làng quê yên tĩnh, </p>
										<div class="s-info"><i class="fa fa-clock-o"></i>
											"00:08 | 26/08/2017"</div>
											</div>
										</div>
									</div>
										<div class="te-pagination">
						<a class="smooth" href="#"><i class="fa fa-angle-double-left"></i></a>
						<a class="smooth" href="#"><i class="fa fa-angle-left"></i></a>
						<a class="smooth" href="#">1</a>
						<strong>2</strong>
						<a class="smooth" href="#">3</a>
						<a class="smooth" href="#"><i class="fa fa-angle-right"></i></a>
						<a class="smooth" href="#"><i class="fa fa-angle-double-right"></i></a>
					</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-3 col-lg-3">
								<div class="row">
									<div class="col-sm-12" >
										<div class="check">
							<form >
								<h2 class="text-center">TÌM KIẾM</h2>
								<div class="ss">
									<p>Tìm kiếm</p>
									<input type="text" placeholder="tìm kiếm..." name="">
									<p>Thành phố</p>
									<select name="cars">
										<option value="">--chọn diểm đến--</option>
										<option value="">ha noi</option>
										<option value="">hai phong</option>
										<option value="">da nang</option>
									</select>
									<br><br>
									<p>Rasting</p>
									<div class="table">
										<div class="cell"><div class="star star-rating"> 
											<div class="star-base">
												<div class="star-rate" style="width:90%"></div> 
												<a dt-value="1" href="#1"></a> 
												<a dt-value="2" href="#2"></a> 
												<a dt-value="3" href="#3"></a> 
												<a dt-value="4" href="#4"></a> 
												<a dt-value="5" href="#5"></a>
											</div>
										</div></div>
										<div class="cell text-right">
											<button type="submit"><i class="fa fa-search"></i></button>

										</div>
									</div>
								</div>
							</form>
						</div>
										<div class="post">
											<h3 class="text-center">  Chủ đề mới nhất</h3>

											<div class="mi-post">
												 <a href=""><img class=" img-responsive" alt="" title="" src="massagebaby/img/post.png"></a>
												<div class="mi-info">
												<a href="">Khu du lich sinh</a>
												<p>Ba Be eco khu du lich sinh thai</p>
												</div>
											</div>
											<div class="mi-post">
												<a href=""><img class=" img-responsive" alt="" title="" src="massagebaby/img/post.png"></a>
												<div class="mi-info">
												<a href="">Khu du lich sinh</a>
												<p>Ba Be eco khu du lich sinh thai</p>
												</div>
											</div>
											<div class="mi-post">
												<a href=""><img class=" img-responsive" alt="" title="" src="massagebaby/img/post.png"></a>
												<div class="mi-info">
												<a href="">Khu du lich sinh</a>
												<p>Ba Be eco khu du lich sinh thai</p>
												</div>
											</div>
											<div class="mi-post">
												<a href=""><img class=" img-responsive" alt="" title="" src="massagebaby/img/post.png"></a>
												<div class="mi-info">
												<a href="">Khu du lich sinh</a>
												<p>Ba Be eco khu du lich sinh thai</p>
												</div>
											</div>
										</div>

										<a href=""><img alt="" title=""  src="massagebaby/img/qc.jpg" class="qc img-responsive "></a>
										<a href=""><img alt="" title=""  src="massagebaby/img/qc2.jpg" class="qc2 img-responsive"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<footer>
		<div class="container">
			<div class="row rowfoot">
				<div class="col-sm-4">
					<div class="foot">
						<a href="#"><h4>Về hotel84.com</h4></a>
						<ul class="ulfoot">
							<li><a href="#">Trang chủ</a></li>
							<li><a href="#">điều khoản</a></li>
							<li><a href="#">thông tin cá nhân</a></li>
							<li><a href="#">tin tức công ty</a></li>
							<li><a href="#">hướng dẫn sử dụng liên hệ</a></li>
							<li><a href="#">tin tức công ty</a></li>
							<li><a href="#">liên hệ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="foot">
						<a href="#"><h4>Về hotel84.com</h4></a>
						<ul class="ulfoot">
							<li><a href="#">Trang chủ</a></li>
							<li><a href="#">điều khoản</a></li>
							<li><a href="#">thông tin cá nhân</a></li>
							<li><a href="#">tin tức công ty</a></li>
							<li><a href="#">hướng dẫn sử dụng liên hệ</a></li>
							<li><a href="#">tin tức công ty</a></li>
							<li><a href="#">liên hệ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="foot">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="sf container">
				<p>Địa chỉ:số nhà 38b ngách 6/31/5 Đặng Văn Ngữ,phường Phương Liên,quận Đống đa, Hà nội</p>
				<p>Địa chỉ: số nhà 38b ngách 6/31/5 Đặng Văn Ngữ, phường Phương Li</p>
				<p>Địa chỉ: số nhà 38b ngách 6/31/5 Đặng Văn Ngữ, phường Phương LiĐịa chỉ: số nhà 38b ngách 6/31/5 Đặng Văn Ngữ, phường Phương Li</p>
				<p>Số ĐKKD: 0103003424; Ngày cấp: 02/1/2004; Giám đốc: Phan Văn Thu</p>
			</div>
		</div>
	</footer>
					<script src="massagebaby/js/jquery-2.2.1.min.js" defer></script>	
	<script src="massagebaby/js/bootstrap.min.js" defer></script>
	<script src="massagebaby/js/jquery.nivo.slider.pack.js" defer></script>
	<script src="massagebaby/js/script.js" defer></script>
				</body>
				</html>